@import "../../scss/styles.scss";


.hn-loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    color: $color-black;

    &__icon {
        font-size: 5rem;
        transform: rotate(0);
        animation: rotateAnimation .8s linear infinite;
        color: $color-1;
        margin-left: 2rem;
    }
}