@import "../../scss/styles.scss";


.hn-loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;


    &--light {
        color: $color-black;
    }

    &--dark {
        color: $color-5;
    }

    &__icon {
        font-size: 5rem;
        transform: rotate(0);
        animation: rotateAnimation .8s linear infinite;
        margin-left: 2rem;

        &--light {
            color: $color-1;
        }
    
        &--dark {
            color: $color-3;
        }
    }
}