@import "../../scss/styles.scss";

.hn-posts {
    &__link,
    &__info {
        &,
        &:link,
        &:visited {
            display: flex;
            font-size: 1.4rem;
            font-family: $font-family-2;
            text-decoration: underline;
            color: $color-3;
            padding: .5rem;
            align-items: center;
        }
    }

    &__info {
        text-decoration: none;
    }
    
    &__icon {
        font-size: 1.8rem;
        margin-right: 1rem;
    }


}