@import "../../scss/styles.scss";

.hn-comments {
    margin-top: 5rem;
    &__title {
        font-family: $font-family-1;
        font-size: 2rem;
        margin-bottom: 2rem;

        &--light {
            color: $color-black;
        }

        &--dark {
            color: $color-5;
        }
    }
}