//----------------------------------*\
//  COLORS
//----------------------------------*/

$color-1: #ff6600;
$color-2: #f6f6ef;
$color-3: #828282;

$color-4:#1C2022;
$color-5:rgb(203, 203, 203);

$color-black: #000;
$color-white: #fff;

//----------------------------------*\
//  FONTS
//----------------------------------*/

$font-family-1: "Montserrat-Bold";
$font-family-2: "NunitoSans-Regular";
