@import "../../scss/styles.scss";

.hn-posts {
    &__post {
        background-color: $color-2;
        padding: 3rem;
        border-radius: .6rem;

        @include respond(t-m) {
            padding: 2rem;
        }
    }

}